[Unit]
Description=Xorg on :0
After=network.target

[Service]
Type=simple
Environment=HOME=/root
Environment=XDG_RUNTIME_DIR=/run/user/0
ExecStartPre=-/bin/mkdir /run/user/0
ExecStartPre=-/bin/chmod 700 /run/user/0
ExecStart=/usr/bin/xinit
Restart=on-abnormal

[Install]
WantedBy=multi-user.target
